/*GLOBAL*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-wrap {
  width: 100%;
}

.inner-wrap {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 30px;
}

.flexcontainer {
  display: flex;
}

.flexcontainer>div {
  border: 1px solid black;
  padding: 20px;
}

.flexcontainer>div:nth-of-type(1) {
  background-color: #808080;
  color: #d9c956;
  font-weight: bold;
}

.flexcontainer>div:nth-of-type(2) {
  background-color: #a8a9a9;
  color: #c2c3c3;
}

form ul li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

form ul>li>label {
  flex-basis: 100px;
}

form {
  margin-top: 30px;
}

ul li:last-of-type {
  margin-top: 30px;
}

button {
  cursor: pointer;
}